.chatWindow{
    display: flex;
    flex-direction: column;
    height: 100%;
};

.chatWindowHeader{
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.HeaderInfo{
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        width: 40px;
        height: auto;
        border-radius: 50%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.HeaderName{
    font-size: 1rem;
    color:#000;
}

.HeaderBtns{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.Btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all ease .3s;
}

.chatWindowBody{
    flex: 1;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position: center;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}

.chatWindowFooter{
    height: 62px;
    display: flex;
    align-items: center;
}

.FooterPre{
    display: flex;
    margin: 0 1rem;
}

.FooterInputArea{
    flex: 1;
    .input{
        width: 100%;
        height: 40px;
        border: 0;
        outline: 0;
        background-color: #FFF;
        border-radius: 1.125rem;
        font-size: 1rem;
        color:#4A4A4A;
        padding-left: 1rem;
    }
}

.FooterPos{
    display: flex;
    margin: 0 1rem;
}

.chatWindowEmojiPickerArea{
    height: 300px;
    overflow-y: hidden;
    transition: all ease .5s;
    aside .emoji-picker-react{
        width: 100%;
        background: none;
        .emoji-group:before{
            background: none;
        }
    }
}
